*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    /* background-color: #7ee8fa;
background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%); */
background-color: #39b54a;
    


}
.signup{
    background-color: white;
    color: black;
    width: 80%;
    max-width: 630px;
    min-height: 350px;
    position: absolute;
    top:50%;
    left:50%;
    padding: 10px;
    border-radius: 20px;
    transform: translate(-50%,-50%);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.signup h1{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.signup p{
    text-align: center;
    padding-bottom: 10px;
    color: gray;
    border-bottom: 1px solid silver;
}
.signup form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
  }
  .txt_field input:focus ~ label,
  .txt_field input :valid ~ label{
    top: -5px;
    color: #2691d9;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input :valid ~ span::before{
    width: 100%;
  }
  .button{
      margin: 0 auto;
      width: min-content;
  }
  .button input{
      width: 300px;
      background-color:transparent;
      color: black;
      font-size: 16px;
      border-radius: 20px;
      transition: 0.5s;
  }
  .button input:hover{
      background-color: black;
      color: #39b54a;
  }
  .login{
      width: max-content;
      margin: 0 auto;
  }
