*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #f1f1f1;
}

.blog{
    background-color: white;
    width: 90%;
    margin: 30px auto;
    padding-top: 20px;
    border-radius: 20px;
    box-shadow: 0 3px 7px -1px rgb(0 0 0 / 10%);
    min-height: 90%;
}
.title h1{
    color:  #39b54a;
    text-transform: capitalize;
}
.title h3{
    color: gray;
    text-transform: capitalize;
}
.title{
    border-bottom: 2px solid gray;
    padding: 0px 20px;
}

.description{
    padding: 10px 20px;
}
.description h2{
    font-family: 'WindSong', cursive;
    width: fit-content;
    margin: 0px auto;
    padding-bottom:10PX ;
}

/* comment section */
.comments{
    width: 95%;
    max-width: 600px;
    margin-left: 20px;
    background-color: #39b54a;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    position: relative;
}

.comments h2{
    margin-left: 20px;
}


/* individual comment */
.individual_comment{
    min-width: 200px;
    width: fit-content;
    margin: 10px;
    margin-left: 10px;
    padding: 10px;
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
}
.comment_title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 20px thick black;
}

/* write comments form */
.write_comment form{
    width: 100%;
    display: flex;
    bottom: 0;
    margin-bottom: 5px;
}
.write_comment form input[type=text]{
    width: 500px;
    height: 30px;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 10px;
}
.write_comment form input[type=submit]{
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 10px;
    transition: 0.5s;
}
.write_comment form input[type=submit]:hover{
    background-color: black;
    transform: rotateZ(360deg);
    color: #39b54a;
}
