*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #f1f1f1;
}
.heading_main{
    background-color: #39b54a;
    width: 80%;
    margin: 0 auto;
    height: 65px;
    border-radius:20px ;
    text-align: center;
    padding: 10px;
    margin-top: 5px;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'WindSong', cursive;
}
.content{
    position: relative;
    width: 95%;
    height: 85%;
    background-color: white;
    margin: 0% auto;
    padding: 20px;
    margin-top: 10px;
    border-radius: 20px;
}
.main_info{
    display: flex;
    border-radius: 10px;
    margin-top: 10px;
}
.profile_pic{
    width: 200px;
    margin-left: 30px;
}
.profile_pic img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.profile_pic::before{
    content: 'Current image';
    position: absolute;
    left: 40px;
    top: 0;
    background-color: #39b54a;
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
}
.profile_pic input{
    width: 180px;
    margin-top: 10px;
}
.name_info{
    transform: translateY(-10px);
}
.txt_field{
position: relative;
border-bottom: 2px solid #adadad;
margin: 20px 0;
}
  /* field input */
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
/* field title */
.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before{
      content: '';
      position: absolute;
      top: 40px;
      left: 0;
      width: 0%;
      height: 2px;
      background: #2691d9;
      transition: .5s;
}
.username{
    pointer-events: none;
}
/* effects */
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
      top: -5px;
      color: #2691d9;
}
.txt_field input:focus ~ span::before{
      width: 100%;
}
input::placeholder{
      opacity: 0;
      transition: opacity 0.5s;
}
input:focus::placeholder{
      opacity: 1;
}

.other_info .txt_field{
    width: 87%;
    margin-left: 10px;
}
.gender_field{
    margin-left: 10px;
    font-size: 1.2rem;
    color: gray;
}
.gender_field select{
    margin-left: 10px;
    width: 73%;
    border: none;
    font-size: 1.2rem;
    text-align: center;
}
form input[type=submit]{
    position: absolute;
    border: none;
    margin-top: 10px;
    text-align: center;
    width: 83%;
    bottom: 20px;
    border-radius: 20px;
    font-size: 1.2rem;
    margin-left: 10px;
    background-color: black;
    color: white;
    transition: 0.5s;
}
form input[type=submit]:hover{
    background-color: #39b54a;
    color: black;
}
/* menu */
.menu{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(54,69,79);
    z-index: 5;
    top:0px;
    left: 100%;
    transition: transform 1s;
  }
  #close{
    background-color: transparent;
    border: none;
    color: black;
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    font-weight: 700;
    float: right;
    padding-right: 10px;
    transition: 0.5s;
  }
  #close:hover{
    color: #39b54a;
  }
  .heading{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
    margin-top: 40px;
  }
  .Edit_Profile{
    background-color:rgb(24, 45, 59);
    width: max-content;
    border: none;
    width: 155px;
    height: 35px;
    padding:5px ;
    text-align: center;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1rem;
    transition: 0.5s;
  }
  .Edit_Profile:hover{
    background-color: #39b54a;
  }
  .logout{
    background-color:rgb(24, 45, 59);
    width: max-content;
    width: 155px;
    height: 35px;
    padding:5px ;
    margin-top: 5px;
    text-align: center;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1rem;
    transition: 0.5s;
    border: none;
  }
  .logout:hover{
    background-color: red;
  }
  .user{
    display: flex;
    position: relative;
    width: 500px;
    margin-right: 20px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 20px;
    background-color:rgb(24, 45, 59);
  }
  .user img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right:10px ;
  }
  .navigation{
    width: 95%;
    height: 400px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 20px;
    padding: 20px;
    font-size: 1.4rem;
    background-color:rgb(24, 45, 59);
  }
  .navigation ul{
    list-style: none;
  }
  .navigation ul li a{
    text-decoration: none;
    color: #39b54a;
  }
  .navigation ul li::after{
    content: ">>";
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
  }
  .navigation ul li:hover::after{
    opacity: 1;
    color: #39b54a;
    transform: translateX(20px);
    pointer-events: visible;
  }
  .toggle{
    transform: translateX(-100%);
  }

  /* menu btn */
  .menu-btn{
    position: fixed;
    top:10;
    right:10;;
  }
  .menu-btn button{
      padding: 5px;
      border-radius: 10px;
      border: none;
      background-color: black;
      color: white;
      transition: 0.5s;
  }
  .menu-btn:hover button{
      background-color: #39b54a;
      color: black;
  }
  /* media */
  /* limit slide menu width */
  @media screen and (min-width:500px){
    .menu{
      max-width:500px
    }
  }
@media screen and (min-width:560px){
    .content{
        max-width: 530px;
    }
}