{% load static %}
<!-- import fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=WindSong:wght@500&display=swap" rel="stylesheet">

<!-- link to css -->
<link rel="stylesheet" href="{%static 'style_blog.css' %}">


<body>
<!-- side menu bar -->
<div class="menu">
    <button id="close">X</button>
    <div class="heading">
    <div class="user">
        <img src="{% static 'images/default-avatar.jpg' %}" alt="" srcset="">
        <h1>{{ user }}</h1>
    </div>
    <div class="menu_btns">    
        <a href="/Edit_Profile/{{user}}"><button class="Edit_Profile">Edit Profile</button></a>

        <a href="{% url 'logout' %}"><button class="logout">Logout</button></a>
    </div>
    </div>
    <div class="navigation">
        <ul>
            <li><a href="{% url 'index' %}">Home Page</a></li>
            <li><a href="{% url 'blogs' %}"">Read Blog</a></li>
            <li><a href="{% url 'write_blog' %}">Write Blog</a></li>
            <li><a href="/#contact">Contact Us</a></li>
        </ul>
    </div>
</div>
<!-- second menu btn; appears after a little scroll -->
<div class="menu-btn_second">
    <button id="menu-btn_second">Menu</button>
</div>
<!-- back to top button -->
<a href="#intro" class="scroll_to_top">
  <button>^</button>
</a> 
<!-- welcome section of page -->
<div class="intro" id="intro">
    <div class="title">
        <h1>Welcome to Blogs</h1>
        <button id="menu-btn" class="menu-btn">Menu</button>  
    </div>
</div>
<!-- filter section of page -->
<div class="filter">
    <h3>filter</h3>
    <!-- filter form; -->
    <form action="" method="POST">
        {% csrf_token %}
        <!-- catagory field -->
        <div class="fields">
            <label>catagory :</label>
            <select name="catagory_select" class="catagory_select" id="catagory_select">
            {% for i in all_catagory %}
                {% if i.catagory_name == selected_catagory %}
                <option value="{{i.catagory_name}}" selected>{{i.catagory_name}}</option>
                {% else %}
                <option value="{{i.catagory_name}}">{{i.catagory_name}}</option>
                {% endif %}
            {% endfor %}
            </select>
        </div>
        <!-- sort field -->
        <div class="fields">
            <label>Sort :</label>
            <select name="sort" id="sort">
                <option value="Latest at Top">Latest at Top</option>
                {% if selected_sort == "Oldest at Top" %}
                <option value="Oldest at Top" selected>Oldest at Top</option>
                {% else %}
                <option value="Oldest at Top">Oldest at Top</option>
                {% endif %}
            </select>
        </div>
        <!-- Author field -->
        <div class="fields">
            <label>Author :</label>
            {% if selected_author != null %}
            <input type="text" name="author" id="author" placeholder={{selected_author}}>
            {% else %}
            <input type="text" name="author" id="author">
            {% endif %}
        </div>
        <!-- submit button -->
        <input type="submit" value="submit">
    </form>
</div>

<!-- title -->
<div class="section-title"> Recently Published
</div>

<!-- blogs: contains all blogs -->
<div class="blogs">
{% for post in posts %}
    <!-- blog: a particular blog -->
    <div class="blog">
        <!-- image according to catagory -->
        <div class="meta">
            <img class="image" src="{%static 'images/hero-bg.jpg.webp' %}" alt="" srcset="">
            <ul>
                <li>{{post.author}}</li>
                <li>{{post.date}}</li>
                <li class="catagory">{{post.catagory}}</li>
            </ul>
        </div>
        <!-- main content of blog -->
        <div class="content">
            <!-- titles of blog -->
            <div class="title">
                <h1>{{post.title}}</h1>
                <h2>{{post.mini_title}}</h2>
            </div>
            <!-- a little description and read more button -->
            <div class="description">
                <p>{{post.description|truncatewords:7}}</p>
                <button type="submit"><a href="read_blog/{{ post.id }}">Read More</a> </button>
            </div>
        </div>
    </div>
{% endfor %}
</div>

<!-- js divides list of all blogs to smaller units and these buttons help us to navigate between them -->
<div class="pages">
    <button class="page_left"><</button>
    <div class="page"></div>
    <button class="page_right">></button>
</div>
</body>

<script src="{% static 'app_blog.js' %}"></script>