{% load static %}


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=WindSong:wght@500&display=swap" rel="stylesheet">


<link rel="stylesheet" href="{%static 'style_blog.css' %}">


<body>
    
<div class="intro">
    <div class="title">
        <h1>Welcome to Blogs</h1>
        <h2><a href="{% url 'write_blog' %}">+</a></h2>
    </div>
</div>
<div class="filter">
    <h3>filter</h3>
    <form action="">
        <div class="fields">
            <label>catagory :</label>
            <select name="" class="catagory_select" id="">
            
            </select>
        </div>
        <div class="fields">
            <label>Sort :</label>
            <select name="" id="">
                <option value="">Latest at Top</option>
                <option value="">Oldest at Top</option>
            </select>
        </div>
        <div class="fields">
            <label>Author :</label>
            <input type="text" name="" id="">
        </div>
        <input type="submit" id="submit" value="Search">
    </form>
</div>

<div class="section-title"> Recently Published</div>
<div class="blogs">
{% for post in posts reversed %}
<div class="blog">
    <div class="meta">
    <img class="image" src="{%static 'images/hero-bg.jpg.webp' %}" alt="" srcset="">
    <ul>
        <li>{{post.author}}</li>
        <li>{{post.date}}</li>
        <li class="catagory">{{post.catagory}}</li>
    </ul>
    </div>
    <div class="content">
        <div class="title">
            <h1>{{post.title}}</h1>
            <h2>{{post.mini_title}}</h2>
        </div>
        <div class="description">
            <p>{{post.description|truncatewords:18}}</p>

            <button type="submit"><a href="read_blog/{{ post.title }}">Read More</a> </button>
        </div>
    </div>
</div>
{% endfor %}

</div>
</body>

<script src="{% static 'app_blog.js' %}"></script>