{% load static %}


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=WindSong:wght@500&display=swap" rel="stylesheet">


<link rel="stylesheet" href="{%static 'style_blog.css' %}">


<body>
    
<div class="intro">
    <div class="title">
        <h1>Welcome to Blogs</h1>
        
        {% if user.is_authenticated %}
        <h2><a href="/write_blog/{{user}}">{{user}}</a></h2>
        {% else %}
        <h2>guest</h2>
        {% endif %}
    </div>
</div>
<div class="section-title"> Recently Published</div>
<div class="blogs">
{% for post in posts %}
<div class="blog">
    <div class="meta">
    <img class="image" src="{%static 'images/hero-bg.jpg.webp' %}" alt="" srcset="">
    <ul>
        <li>{{post.author}}</li>
        <li>{{post.date}}</li>
        <li>{{post.catagory}}</li>
    </ul>
    </div>
    <div class="content">
        <div class="title">
            <h1>{{post.title}}</h1>
            <h2>hello h2</h2>
        </div>
        <div class="description">
            <p>{{post.description}}</p>

            <button type="submit">Read More</button>
        </div>
    </div>
</div>
{% endfor %}

</div>
</body>

<script src="{% static 'app_blog.js' %}"></script>