{% load static %}
<head>
    <link rel="stylesheet" href="{%static 'style_edit_profile.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=WindSong:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="heading_main">
        Edit Profile
    </div>
    <div class="menu">
        <button id="close">X</button>
        <div class="heading">
        <div class="user">
            <img src="{% static 'images/default-avatar.jpg' %}" alt="" srcset="">
            <h1>{{ user }}</h1>
        </div>
        <div class="menu_btns">    
            <a href="/Edit_Profile/{{user}}"><button class="Edit_Profile">Edit Profile</button></a>
    
            <a href="{% url 'logout' %}"><button class="logout">Logout</button></a>
        </div>
        </div>
        <div class="navigation">
            <ul>
                <li><a href="{% url 'index' %}">Home Page</a></li>
                <li><a href="{% url 'blogs' %}"">Read Blog</a></li>
                <li><a href="{% url 'write_blog' %}">Write Blog</a></li>
                <li><a href="/#contact">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <div class="menu-btn">
        <button id="menu-btn">Menu</button>
    </div>
    {% for message in messages %}
        {{message}}
    {% endfor %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="content">
            <div class="main_info">
        <div class="profile_pic">
            <img src="{{ user.profile_pic.url }}"/>
            <br>
            <input type="file" name="profile_pic" accept="image/*" id="profile_pic">
        </div>
        <br>
        <div class="name_info">
            <div class="txt_field username">
                <input type="text" name="user_id" id="user_id" value="{{user.user_id}}"  required>
                <span></span>
                <label for="user_id">Username</label>
            </div>
            <div class="txt_field">
                <input type="text" name="first_name" id="" value="{{user.first_name}}">    
                <span></span>
                <label for="first_name">First Name:</label>
            </div>
            <div class="txt_field">
                <input type="text" name="last_name" id="" value="{{user.last_name}}" >    
                <span></span>
                <label for="last_name">Last Name:</label>
            </div>
            
        </div>
        </div>
        <div class="other_info">
        <div class="txt_field">
            <input type=number name="age" id="" value="{{user.age}}">
            <span></span>
            <label for="age">Age</label>
        </div>
        <div class="gender_field">
            <label for="">Gender:</label>
            <select name="gender" id="" required>
                {% if user.gender == 'Male' %}
                    <option value="Male" selected>male</option>
                {% else %}
                    <option value="Male">Male</option>
                {% endif %}
                {% if user.gender == 'Female' %}
                    <option value="Female" selected>Female</option>
                {% else %}
                    <option value="Female">Female</option>
                {% endif %}
                {% if user.gender == 'Others' %}
                    <option value="Others" selected>Others</option>
                {% else %}
                    <option value="Others">Others</option>
                {% endif %}
            </select>
        </div>
        </div>
            <input type="submit" value="submit">
        </div>
    </form>
</body>
<!-- link to js -->
<script src="{% static 'app_read_blog.js' %}"></script>