{% load static %}

<!-- link to css file -->
<link rel="stylesheet" href="{% static 'style.css' %}">

<!-- link to poppins font style  -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

<body>

<!-- top fixed navigation bar -->
<div class="navigation_second">
    <p>hello</p>
    {% if user.is_authenticated %}
        <button id="menu-btn">Menu</button>
    {% endif %}
</div>

<!-- buttons to navigate smoothly between pages  -->
<div class="movement">
    <div class="above"><a href="#"><button> ^ </button></a>
    </div>
    <div class="below"><a href="#"><button> V </button></a>
    </div>
</div>

<!-- quote page with 2 buttons  -->
<!-- side menu bar -->
<div class="menu">
    <button id="close">X</button>
    <div class="heading">
    <div class="user">
        <img src="{% static 'images/default-avatar.jpg' %}" alt="" srcset="">
        <h1>{{ user }}</h1>
    </div>
    <div class="menu_btns">    
        <a href="/Edit_Profile/{{user}}"><button class="Edit_Profile">Edit Profile</button></a>

        <a href="{% url 'logout' %}"><button class="logout">Logout</button></a>
    </div>
    </div>
    <div class="navigation">
        <ul>
            <li><a href="{% url 'index' %}">Home Page</a></li>
            <li><a href="{% url 'blogs' %}"">Read Blog</a></li>
            <li><a href="{% url 'write_blog' %}">Write Blog</a></li>
            <li><a href="/#contact">Contact Us</a></li>
        </ul>
    </div>
</div>

<!-- all the content of page -->
<div class="content">

<!-- first page: intro page -->
<div class="intro" id="top">
    <!-- background of first page is an image -->
    <img class="image" src="{%static 'images/hero-bg.jpg.webp' %}" alt="" srcset="">
    <!-- welcome guest/ welcome user name -->
    <div class="welcome">
        {% if user.is_authenticated %}
            <p> Welcome {{user}} </p>
        {% else %}
            <p>Welcome Guest</p>
        {% endif %}
        <!-- blog quote -->
        <h1>The first step in blogging is not writing them but reading them. </h1>
    
        <!-- 2 btns; if guest buttens are: login & signup -->
        <!-- if logged in user then:Read blogs and logout -->
        <div class="btn">
            {% if user.is_authenticated %}
                <a href="/blogs"><button class="btn1">Read Blogs</button></a>
                <a href="{% url 'logout' %}"><button class="logout-btn">Logout</button></a>
            {% else %}
                <a href="{% url 'login' %}"><button class="btn1">Log In</button></a>
                <a href="{% url 'signup' %}"><button class="btn2">Sign Up</button></a>
            {% endif %}
        </div>
    </div>  
</div>


<!--2nd page: recent hit blogs section -->
<div class="hit_blogs" id="hit_blogs">
    <!-- title of hit blogs section -->
    <h1>Hit Blogs </h1>
    <p>These are some of the trending blogposts published on our site</p>

    <!-- cards: collection of all blogs -->
    <div class="cards">
        <!-- blog: a partivular blog -->
        <div class="blog">
            <div class="title"><h2>Blog 1</h2> </div>
            <div class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio obcaecati, tempora atque asperiores facere laboriosam?</div>
        </div>
        <div class="blog">
            <div class="title"><h2>Blog 1</h2> </div>
            <div class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio obcaecati, tempora atque asperiores facere laboriosam?</div>
        </div>
        <div class="blog">
            <div class="title"><h2>Blog 1</h2> </div>
            <div class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio obcaecati, tempora atque asperiores facere laboriosam?</div>
        </div>
        <div class="blog">
            <div class="title"><h2>Blog 1</h2> </div>
            <div class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio obcaecati, tempora atque asperiores facere laboriosam?</div>
        </div>
        <div class="blog">
            <div class="title"><h2>Blog 1</h2> </div>
            <div class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio obcaecati, tempora atque asperiores facere laboriosam?</div>
        </div>
        <div class="blog">
            <div class="title"><h2>Blog 1</h2> </div>
            <div class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio obcaecati, tempora atque asperiores facere laboriosam?</div>
        </div>
    </div>

    <!-- read more button to redirect to blogs.html -->
    <div class="read_more">
        <a href="/blogs"><button>Read Others</button></a>
    </div>
</div>

<!-- 3rd page: contact us page -->
<div class="contact" id="contact">
    <h1>contact us</h1>
</div>

</div>
</body>

<script src="{% static 'app.js' %}"></script>
