{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

<body>
<header>
    <nav>
        <h5 class="menu">menu</h5>
    </nav>
</header>

<img class="image" src="{%static 'images/hero-bg.jpg.webp' %}" alt="" srcset="">

<div class="intro" id="top">
    <p> Welcome Guest </p>
    <h1>The first step in blogging is not writing them but reading them. </h1>

    <div class="btn">
        <button class="btn1">button 1</button>
        <button class="btn2">button 2</button>
    </div>
</div>
<div class="description">
    <button><a href="#top">back</a></button>
</div>
<div class="hit_blogs">
    hit blogs
</div>
</body>
