{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

<body>
<div class="navigation">
    <p>BLOG</p> 
    
    <button>Menu</button>
</div>

<img class="image" src="{%static 'images/hero-bg.jpg.webp' %}" alt="" srcset="">
<div class="intro" id="top">
    <div class="welcome">
    <p> Welcome Guest </p>
    <h1>The first step in blogging is not writing them but reading them. </h1>

    <div class="btn">
        <button class="btn1">button 1</button>
        <button class="btn2">button 2</button>
    </div>
</div>  
</div>
<div class="movement">
    <div class="above"><a href="#top"><button> ^ </button></a>
    </div>
    <div class="below"><a href="#top"><button> V </button></a>
    </div>
</div>
<div class="hit_blogs">
        <h1>Hit Blogs </h1>
    <p>These are some of the trending blogposts published on our site</p>

    <div class="cards">
        <div class="blog">
            <div class="title">Blog 1</div>
            <div class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio obcaecati, tempora atque asperiores facere laboriosam?</div>
        </div>
        <div class="blog">
            <div class="title">Blog 1</div>
            <div class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio obcaecati, tempora atque asperiores facere laboriosam?</div>
        </div>
        <div class="blog">
            <div class="title">Blog 1</div>
            <div class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio obcaecati, tempora atque asperiores facere laboriosam?</div>
        </div>
        <div class="blog">
            <div class="title">Blog 1</div>
            <div class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio obcaecati, tempora atque asperiores facere laboriosam?</div>
        </div>
        <div class="blog">
            <div class="title">Blog 1</div>
            <div class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio obcaecati, tempora atque asperiores facere laboriosam?</div>
        </div>
    </div>
    <div class="read_more">
        <button>Read Others</button>
    </div>
</div>
</body>
