{% load static %}
<link rel="stylesheet" href="{% static 'style_read_blog.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=WindSong:wght@500&display=swap" rel="stylesheet">
<body>
    <div class="blog">
        <div class="title">
            <h1>{{blog.title}}</h1>
            <h3>By :{{blog.author}}
            </h3>
            <h3>Catagory : {{blog.catagory}}</h3>
            <h3>Published on : {{blog.date}}</h3>
        </div>
        <div class="description">
            <h2>{{blog.mini_title}}</h2>
            <p>{{blog.description}}</p>
        </div>
    </div>
    <div class="comments">
        <h2>Comments</h2>
        <div class="view_comments">
            {% if not blog.comments.all %}
                <H2>no comments yet</H2>
            {% else %}
                {% for comment in blog.comments.all%}
                    <div class="individual_comment">
                        {{comment.user}}
                        {{comment.content}}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="write_comment">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="comment" id="" placeholder='write comment'>    
                <input type="submit" value=">">
            </form>
        </div>
        {% for message in messages %}
            <h4>{{message}}</h4>
        {% endfor %}
    </div>
    
</body>
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
