<head>
    <script src="https://kit.fontawesome.com/95639a2bfb.js" crossorigin="anonymous"></script>
</head>


{% load static %}
<link rel="stylesheet" href="{% static 'style_read_blog.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=WindSong:wght@500&display=swap" rel="stylesheet">
<body>
    <div class="menu-btn">
        <button id="menu-btn">Menu</button>
    </div>

<!-- side menu bar -->
    <div class="menu">
    <button id="close">X</button>
    <div class="heading">
    <div class="user">
        <img src="{% static 'images/default-avatar.jpg' %}" alt="" srcset="">
        <h1>{{ user }}</h1>
    </div>
    <div class="menu_btns">    
        <a href="/Edit_Profile/{{user}}"><button class="Edit_Profile">Edit Profile</button></a>

        <a href="{% url 'logout' %}"><button class="logout">Logout</button></a>
    </div>
    </div>
    <div class="navigation">
        <ul>
            <li><a href="{% url 'index' %}">Home Page</a></li>
            <li><a href="{% url 'blogs' %}"">Read Blog</a></li>
            <li><a href="{% url 'write_blog' %}">Write Blog</a></li>
            <li><a href="/#contact">Contact Us</a></li>
        </ul>
    </div>
    </div>

    <div class="blog">
        <div class="title">
            <h1>{{blog.title}}</h1>
            <h3>By :{{blog.author}}
            </h3>
            <h3>Catagory : {{blog.catagory}}</h3>
            <h3>Published on : {{blog.date}}</h3>
        </div>
        <div class="description">
            <h2>{{blog.mini_title}}</h2>
            <p>{{blog.description}}</p>
        </div>
        <div class="social">
            <div class="likes">
                <form action="{% url 'like' blog.pk %}">
                    {% if like_status == True%}
                        <button type="submit"name='post_id',value='{{blog.id }}'>
                            <i class="fas fa-heart"></i>
                        </button>
                    {% else %}
                        <button type="submit"name='post_id',value='{{blog.id }}'>
                            <i class="far fa-heart"></i>
                        </button>
                    {% endif %}
        
                </form>
            </div>
            <div class="comments-btn">
                <a href="#comments"><i class="far fa-comment"></i></a>
            </div>
            <div class="likes_count">Liked by <b>{{total_like}} Users</b></div>
        </div>
    </div>
    <div class="extras">
        <div class="comments" id="comments">
        <h2>Comments</h2>
        <div class="view_comments">
            {% if not blog.comments.all %}
                <H2>no comments yet</H2>
            {% else %}
                {% for comment in blog.comments.all%}
                    <div class="individual_comment">
                        <div class="comment_title">
                            <h3>{{comment.user}}</h3>
                            <p>{{comment.date_added}}</p>
                        </div>
                        <div class="comment_content">
                            {{comment.content}}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="write_comment">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="comment" id="" placeholder='write comment'>    
                <input type="submit" value=">">
            </form>
        </div>
        {% for message in messages %}
            <h4>{{message}}</h4>
        {% endfor %}
        </div>
        <div class="suggestions">
            <h2>Other Blogs from similar catagory:</h2>
            {% for suggested in all_blogs %}
                <a href="/read_blog/{{ suggested.id }}"><p>{{suggested.title}}</p></a>
            {% endfor %}
        </div>
    </div>
</body>
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
<script src="{% static 'app_read_blog.js' %}"></script>