<h1>Create Your Blogging Account Now</h1>
<p>Read Unlimited Blogs By Creating An Account </p>

<div class="signup">
    <form method="POST" action="">
        <div class="username">
            Username:
            <input type="text" name="username" id="">
        </div>

        <div class="Email">
            Email:
            <input type="email" name="email" id="">
        </div>

        <div class="Password">
            Password:
            <input type="password" name="password" id="">
        </div>

        <div class="Re_Password">
            Confirm Password:
            <input type="password" name="re_password" id="">
        </div>
    </form>
</div>