{% load static%}
<link rel="stylesheet" href="{% static 'style_signup.css' %}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

<body>
    <div class="signup">
        <h1>Create Your Blogging Account</h1>
        <p>Read Unlimited Blogs By Creating An Account </p>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="txt_field">
                <input type="text" name="username" id="">
                <span></span>
                <label> Username:</label>
            </div>

            <div class="txt_field">
                <input type="email" name="email" id="">
                <span></span>
                <label> Email:</label>
            </div>

            <div class="txt_field">
                <input type="password" name="password" id="">
                <span></span>
                <label> Password:</label>
            </div>

            <div class="txt_field">
                <input type="password" name="re_password" id="">
                <span></span>
                <label> Confirm Password:</label>
            </div>
            <div class="button">
                <input type="submit" value="Submit">
            </div>
            <div class="login">
                <label> Already have an account ?<a href="{% url 'login' %}">Login</a></label>
            </div>
        </form>
    </div>
</body>