{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style_write_blog.css' %}">
</head>
<body>
    <main>
        <div class="write_blog">
            {% for message in messages %}
                {{message}}
            {% endfor %}
            <form action="" method="POST">
                {% csrf_token %}
                <div class="fields">
                    <label> Title</label>
                    <input type="text" name="title">
                </div>
                <div class="fields">
                    <label> Mini-Title</label>
                    <input type="text" name="mini_title">
                </div>
                    
                <div class="fields">
                    <label> Catagory</label>
                    <select name="catagory" class="catagory" id="catagory">
                    </select>

                </div>
                <div class="description">
                    Description <br>
                    <textarea name="Description" id="" cols="30" rows="13"></textarea>
                </div>
                <div class="submit">
                <input type="submit" value="submit">
                </div>
            </form>
        </div>
    </main>
</body>
<script src="{% static 'app_write_blog.js' %}"></script>
</html>